body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("engin-akyurt-HEMIBJ8QQuA-unsplash.jpg");
/*             filter: blur(8px);
            -webkit-filter: blur(8px); */
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

buttons {
    display: flex;
}

button {
    display: block;
    color: #016f32;
    width: max-content;
    background: goldenrod;
    padding: 16px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin: 2px auto;
}

#bet-slider {
    width: 25%;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    }
    
#bet-slider::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
    }
    
#bet-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
    }
#bet-slider::-webkit-slider-thumb:disabled {
    background: #d3d3d3;

}
#bet-slider::-moz-range-thumb:disabled {
    background: #d3d3d3;
}

    /* If the screen size is 601px or more, set the font-size of <div> to 80px */
    @media only screen and (min-width: 601px) {
    body {
        font-size: 50px;
    }
    button {
        font-size: 50px;
    }
    }

    /* If the screen size is 600px or less, set the font-size of <div> to 30px */
    @media only screen and (max-width: 600px) {
    body {
        font-size: 30px;
    }
    button {
        font-size: 30px;
        width: 33%;
    }
  }