html, body {
    margin: 0;
    padding: 0;
}

body {
    background: #333;
    color: #f7fecf;
    font-family: sans-serif;
    font-size: 20px;
}

h1 {
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 400px;
    box-shadow: -2px 6px 18px 3px rgba(0, 0, 0, 0.75);
    padding: 50px;
    background: hsla(15, 70%, 69%, 1);
    background: linear-gradient(45deg, hsla(15, 70%, 69%, 1) 0%, hsla(274, 70%, 64%, 1) 100%);
}

a {
    color: #701FAD;
    
    font-weight: bold;
    text-decoration: none;
}

a:hover, a:focus {
    color: #8625D0;
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

li {
    margin: 3px;
}