html, body {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    max-width: 500px;
    margin: 0 auto;
    font-family: sans-serif;
    background: #000;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 0;
    width: 90%;
}

/* background */
header {
    background: linear-gradient(
        45deg,
        hsl(331deg 100% 53%) 0%,
        hsl(348deg 100% 62%) 10%,
        hsl(12deg 100% 64%) 20%,
        hsl(32deg 100% 58%) 30%,
        hsl(46deg 100% 50%) 40%,
        hsl(55deg 100% 50%) 50%,
        hsl(74deg 91% 62%) 60%,
        hsl(104deg 98% 73%) 70%,
        hsl(144deg 100% 71%) 80%,
        hsl(166deg 100% 60%) 90%,
        hsl(177deg 100% 50%) 100%
        );
        overflow: hidden;
        margin-top: 20px;
        margin-bottom: 0;
        padding: 0;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
}

h1 {
    color: #353535;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0;
    margin-top: 0;
}

h3 {
    margin-top: 0;
}

#base-num {
    font-weight: 800;
    font-size: 100px;
    text-align: center;
    color: #353535;
    padding-bottom: 20px;
    padding-top: 0;
    margin: 0 auto;
}

main {
    background: #1F2937;
    color: #fff;
    text-align: center;
    margin: 0 auto 20px;
    padding: 20px;
    padding-top: 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.input-area {
    text-align: center;
    padding: 10px 30px 10px;
    margin: 0 auto;
    background: #1F2937;
}
input {
    display: block;
    margin: 0 auto 10px;
    text-align: center;
    width: 50px;
}
label {
    text-align: center;
    padding-top: 10px;
}

/* Beautiful form */

.form__group {
    position: relative;
    padding: 20px 0 10px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
.form__field::placeholder {
    color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}
.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}
.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}
.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
}
/* reset input */
.form__field:required, .form__field:invalid {
    box-shadow: none;
}
