html, body {
    margin: 0;
    padding: 0;
}

body {
    /*background: #361807;*/
    /* background-color: #241005; */
    background-color: #071108;
    color: #c8bfd9;
    max-width: 700px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

header {

}

.content {
    /* background-color: #3C153B; */
    background-color: #4B1B49;
    padding: 75px;
    margin-top: 100px;
    padding-left: 52px;
    padding-top: 118px;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(66, 35, 0, 0.5);
}
h1 {
    margin: 10px auto;
    font-size: 40px;
    font-family: 'Karla', sans-serif;
    font-weight: 800;
}

.colored-text {
    display: block;
    color: #FCB9B2;
}

p {
    margin: 5px auto 75px;
    font-size: 20px;
}

button {
    background-color: #FCB9B2;
    color:#4B1B49;
    border: none;
    font-weight: 600;
    padding: 15px 30px;
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 5px;
}

hr {
    border-top: 1px solid #c8bfd9;
}

.input-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    justify-content: space-between;
}

.password {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 125%;
    line-height: 200%;
    text-align: center;
    color: #c8bfd9;
}

input {
    background-color: #692666;
    border: none !important;
    border-radius: 5px;
}

#pw1-el, #pw3-el {  
    margin-left: 0;
    margin-right: 12px;
}

#pw2-el, #pw4-el {
    margin-left: 12px;
    margin-right: 0;
}
