:root {
    --my-pink: #FCB9B2;
    --my-lilac: #c8bfd9;
    --my-purple: #4B1B49;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #071108;
    color: var(--my-lilac);
    max-width: 700px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

.content {
    /* background-color: #3C153B; */
    background-color: var(--my-purple);
    padding: 50px;
    margin: 25px auto;
    padding-top: 75px;
    padding-bottom: 40px;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(66, 35, 0, 0.5);
}
h1 {
    margin: 10px auto 30px;
    font-size: 50px;
    font-family: 'Karla', sans-serif;
    font-weight: 800;
}

.colored-text {
    display: block;
    color: var(--my-pink);
}

p {
    margin: 5px auto 75px;
    font-size: 20px;
}

.action-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.toggle-section {
  width: min-content;
  padding: 5px;
}

.gen-btn {
    background-color: var(--my-pink);
    color: var(--my-purple);
    border: none;
    font-weight: 600;
    padding: 15px 30px;
    margin-right: 5px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 5px;
}

.switch-group {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    align-items: flex-end;
}

 .top-switches {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
.bottom-switches {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  /* This is for the accessible button toggle */
.toggles [aria-pressed] {
  padding-left: 0;
  padding-right: 0;
}
fieldset {
    /* margin: 1em; */
    /* display: flex;
    flex-direction: column; */
    /* max-width: 100%; */
    padding-block: 0;
    padding-inline: 0;
  }
  
fieldset.toggles div {
  box-sizing: border-box;
  position: relative;
}

fieldset.toggles > div {
  margin: 5px 0;
}

fieldset.toggles > div:first-of-type {
  margin-top: 5px;
}

fieldset.toggles > div:last-of-type {
  margin-bottom: 5px;
}

fieldset.toggles {
  border: 0.1em solid hsla(303, 47%, 28%, 0.45);
}

.toggles [aria-pressed] {
  display: block;
  box-sizing: border-box;
  border: none;
  color: inherit;
  background: none;
  font: inherit;
  line-height: inherit;
  text-align: left;
  padding: .4em 0 .4em 4em;
  padding-left: 0;
  padding-right: 4em;
  position: relative;
}

.toggles [aria-pressed][disabled],
.toggles [aria-pressed][disabled]:hover {
  color: #999;
}

.toggles [aria-pressed]:focus::before,
.toggles [aria-pressed]:hover::before {
  box-shadow: 0 0 0.5em #333;
}

.toggles [aria-pressed]:focus::after,
.toggles [aria-pressed]:hover::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='50' cy='50' r='50' fill='rgba(0,0,0,.25)'/%3E%3C/svg%3E");
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center center;
}

.toggles [aria-pressed]::before,
.toggles [aria-pressed]::after {
  left: auto;
  right: 0;
  content: "";
  position: absolute;
  height: 1.5em;
  transition: all 0.25s ease;
}

.toggles [aria-pressed]::before {
  left: 0;
  top: 0.2em;
  width: 3em;
  border: 0.2em solid var(--my-lilac);
  background: var(--my-lilac);
  border-radius: 1.1em;
}

.toggles [aria-pressed]::after {
  left: auto;
  right: 1.6em;
  top: 0.25em;
  background-color: #fff;
  background-position: center center;
  border-radius: 50%;
  width: 1.5em;
  border: 0.15em solid var(--my-lilac);
}

.toggles [aria-pressed=true]::after {
  right: 0;
  left: 1.6em;
  border-color: var(--my-pink);
  color: var(--my-pink);
}

.toggles [aria-pressed=true]::before {
  background-color: var(--my-pink);
  border-color: var(--my-pink);
}

.toggles [aria-pressed][disabled]::before {
  background-color: transparent;
  border-color: #ddd;
}

.toggles [aria-pressed][disabled]::after {
  border-color: #ddd;
}

.toggles [aria-pressed][disabled]:hover {
  color: #999; /* case for CSS custom property if not supporting IE/Edge */
}

.toggles [aria-pressed][disabled]:hover::before {
  box-shadow: none;
}

.toggles [aria-pressed][disabled]:hover::after {
  background-image: none;
}

.toggles [aria-pressed]::before,
.toggles [aria-pressed]::after {
  left: auto;
  right: 0;
}

.toggles [aria-pressed]::after {
  left: auto;
  right: 1.6em;
}

.toggles [aria-pressed=true]::after {
  right: 0;
}

.toggles [aria-pressed] {
  padding-left: 0;
  padding-right: 4em;
}
/* End of accessible button toggle */

hr {
    border: 0;
    height: 1px;
    margin-top: 25px;
    background-image: linear-gradient(to right, rgba(200, 191, 217, .3), rgba(200, 191, 217, 0.75), rgba(200, 191, 217, .3));
}

.input-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    justify-content: space-between;
    margin-top: 15px;
}

.password {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 125%;
    line-height: 200%;
    text-align: center;
    color: var(--my-lilac) !important;
}

input {
    background-color: #692666;
    border: none !important;
    border-radius: 5px;
}

#pw1-el, #pw3-el {  
    margin-left: 0;
    margin-right: 12px;
}

#pw2-el, #pw4-el {
    margin-left: 12px;
    margin-right: 0;
}
