body {
    background: black;
    font-family: "Helvetica Neue", Tahoma, Geneva, Verdana, sans-serif;
    color: #C4A69D;
}
header {
    background: #272130;
    max-width: 500px;
    margin: 0 auto;
    padding: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

main {
    max-width: 500px;
    margin:0 auto;
    background-color: #363457;
    padding: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

h1 {
    color: #98A886;
    font-size: 3rem;
    text-align: center;
}

p {
    text-align: center;
    font-size: 20px;
}

button {
    border:none;
    padding: 12px 30px;
    font-size: 20px;
    margin: 5px;
}

.accent-color {
    color: #A58ABC;
}

.section-name {
    font-size: 18px;
    text-align: center;
}

.button-container {
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.game-symbols-container {
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}

.game-symbols-container div {
    font-size: 80px;
    text-align: center;
}

.score-container {
    max-width: 200px;
    margin: 0 auto;
}